.ausa-header {
	position: absolute;
	z-index: 4;
	width: 100%;
}
div.cc-payment-type {
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #D8D8D8;
    height: 30px;
    line-height: 30px;
    width: 166px;
    background: white url(../images/credit-cards.png) no-repeat 15px 5px;
    margin-right: 10px;
    padding-left: 10px;
}
div.cc-payment-type span { display: none; }
.ausa-header .navbar .nav > li {
    margin-left: 1px;
}
.ausa-header div.navbar-fixed-top {
    top: 0;
    height: 40px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.25);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
}
.ausa-header .navbar-fixed-top div.navbar-inner {
    height: 40px;
    filter: none;
    background-image: url(../images/spriteMapAO.png) !important;
    background-position: 0 0;
    background-repeat: repeat-x;
}
.ausa-header .navbar-fixed-top .navbar-inner div.container {
    width: auto;
    max-width: 1125px;
    max-height: 40px;
}
.ausa-header .navbar-fixed-top .navbar-inner .container .nav > li > a {
    height: 20px;
    border-style: solid;
    border-color: transparent;
    border-width: 0px 1px 0px 1px;
}
.ausa-header .navbar-inverse .navbar-search .search-query {
    line-height: 19px;
}
.ausa-header ul.user li ul.dropdown-menu {
    top: -1000px;
    display: block;
}
.ausa-header ul.user li.open ul.dropdown-menu {
    top: 100%;
}
.ausa-header ul.user li ul.dropdown-menu li {
    padding-left: 0px;
    padding-right: 0px;
}
.ausa-header .ausa-userInfoDrop button {
    text-transform: none;
}
.ausa-header .ausa-userInfoDrop .ausa-userAvatar {
    float: left;
    margin-left: 10px;
}
.ausa-header .ausa-userInfoDrop .ausa-userInfoDropData {
    float: left;
}
.ausa-header .ausa-userInfoDrop > ul {
    clear: both;
    margin-left: 0px;
    padding-top: 1px;
}
.ausa-header .ausa-userInfoDrop > ul > li {
    padding: 0px !important;
}
.ausa-contentWrapper {
	position: relative;
	z-index: 2;
	padding-bottom: 200px;
}
.ausa-contentWrapper #ausa-contentArea #ausa-contentMainTiles ul#tiles {
    position: relative;
    margin: 0px;
}
.ausa-contentMain {
	margin-bottom: 40px;
	color: #444;
}
.ausa-contentMain .singleCol {
    background: transparent url(../images/ausa-boxBgShadowBig.png) no-repeat top center;
}
.ausa-contentMainInner {
    border: 1px solid #000;
    border: 1px solid rgba(0, 0, 0, .9);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.ausa-contentMainInner {
    width: auto;
    margin: 0px 21px;
    min-height: 45px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.ausa-contentMainInner .form-row {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #DDD;
    border-width: 0 0 1px 0;
}
.ausa-contentMainInner .form-row.last {
    border-width: 0px;
}
.ausa-contentMainInner .form-row > label {
    font-size: 13px;
    font-weight: 700;
    padding: 15px 20px 10px;
    margin-right: 10px;
    display: block;
    color: #333;
}
.ausa-contentMainInner .form-row > label span.required {
    background: url(../images/input_required.png) top right;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: -5px;
    margin-top: 0;
}
.ausa-contentMainInner .grid-view {
    padding-top: 0px;
}
.ausa-contentMainInner .grid-view .summary {
    padding: 8px 15px;
    margin: 0px;
    list-style: none;
    background-color: whiteSmoke;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.ausa-contentMainInner .grid-view .list {
    display: inline-block;
    width: 100%;
    border-right: 0px;
}
.ausa-contentMainInner .pagination li:first-child a,
.ausa-contentMainInner .pagination li:first-child span,
.ausa-contentMainInner .pagination li:last-child a,
.ausa-contentMainInner .pagination li:last-child span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ausa-contentMainInner .pagination li a {
    border-left-width: 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0px 2px;
    outline: none;
}
.ausa-contentMainInner .pagination li.previous a {
    margin-left: 0px;
}
.breadcrumb {
    margin-bottom: 0px !important;
}
.widget-content {
    overflow: hidden;
    padding: 20px 30px;
    border-top: #D2D2D2 1px solid;;
}
.no-head {
    border-top: none;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.no-foot {
    border-top: none;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
.no-head-foot {
    border-top: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.ausa-contentToTop {
	position: relative;
	z-index: 5;
}
.ausa-contentFooterCopy {
	position: relative;
	z-index: 5;
}
.ausa-footerCopy {
	position: absolute;
	bottom: 10px;
	max-width: 1170px;
        margin: 0px 10px;
}
.navbar-fixed-bottom span.bullet {
    display: inline-block;
    width: 9px;
    height: 12px;
    background-image: url(../images/spriteMapAO.png);
    background-position: -126px -40px;
    background-repeat: no-repeat;
    margin: 0 5px;
}
.toTop{
    display: none;
    bottom: 40px;
}
.ausa-footerCopy .left {
	float: left;
}
.ausa-footerCopy .right {
	float: right;
}

.menu-login-icon {
    display: inline-block; 
    border: 1px solid black; 
    margin-right: 4px;
}

/** links that look exactly like anchor handled by jquery */
.ajax-link {
    color: #08C;
    cursor: pointer;
}

.ajax-link:hover {
    color: #005580;
    text-decoration: underline;
}