* { margin: 0; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, a, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input[type="text"], input[type="password"], textarea, button, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html, body { height: 100%; }
html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}
body, input, select, textarea, button { font: 13px "Droid Sans","Helvetica Neue",Helvetica,sans-serif; }
body { color: white; position: relative; margin: 0; }
h1, h2, h3, h4, h5 { margin-top: 40px; font-weight: bold; }
h1 span, h2 span, h3 span, h4 span, h5 span { font-weight: normal; }
h1 { font-size: 24px; line-height: 30px; letter-spacing: -1px; }
h2 { font-size: 20px; line-height: 26px; }
h5 { font-size: 14px; line-height: 20px; }
p { margin: 0 0 10px; }
a { text-decoration: none; }
ol, ul { list-style: none; padding: 0; margin: 0 0 10px 25px; }
textarea { resize: none; }
:focus { outline:none !important; outline-color:transparent !important; }
::-moz-focus-inner { border:0; }
.no-pad { padding: 0 !important; }
.clearfix::after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }