#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:auto!important; width:600px; color:#222; border:1px solid black; padding:10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a.modalCloseImg {background:url(x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:8px; right:8px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
#simplemodal-container a.simplemodal-noclose {display: none}
#simplemodal-container .simplemodal-wrap {
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* AUSA Overwrites */
/*div.simplemodal-data {background-color:#FFF;}*/
div.simplemodal-data .alert {margin-bottom:0px; -moz-border-radius:0px; -webkit-border-radius:0px; border-radius:0px;}
div.simplemodal-data .form-row > div.form-element {padding-left:15px;}
div.simplemodal-data .user-control h5 {padding-left:10px; padding-top:11px; margin:0; font-size:12px; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; text-transform:uppercase; letter-spacing:1px;} 