.dashboardHighlight.priceTable {
    clear: both;
    overflow: visible;
    height: 100% !important;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.dashboardHighlight.priceTable::before { background: none !important; }
.priceTable div.popular {
    width: 91px;
    height: 91px;
    background: url('popularBanner.png') no-repeat 0 0;
    position: absolute;
    right: -3px;
    top: -3px;
    z-index: 1;
}
.priceTable div.popular span { display: none; }
.priceTable h5.plan-name {
    color: #ffffff;
    font-size: 17px;
    margin: 5px 15px 15px;
    text-shadow: 0 1px 0 #111010;
}
.priceTable div.price-amount {
    text-align: center;
    font-size: 16px;
    line-height:16px;
}
.priceTable div.price-amount .duration {
    width: 46px;
    height: 32px;
    display: inline-block;
    text-align: right;
    letter-spacing: 1px;
    vertical-align: 15px;
    background: url(duration-bg.png) 0 0 no-repeat;
}
.priceTable div.price-amount strong {
    font-family: 'Cabin Sketch';
    font-size: 60px;
    line-height: 60px;
    height: 60px;
    font-weight: 100;
    margin: -7px 10px -5px 0;
    -webkit-text-shadow: 0 1px 4px rgba(0,0,0,0.25);
    -moz-text-shadow: 0 1px 4px rgba(0,0,0,0.25);
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
table.priceTable td { text-align: center; }
table.priceTable td span { font-weight: bold; font-size: 16px; }
.widget-content.priceTable { padding:0px; }
.widget-content.priceTable table.priceTable { margin-bottom:0px; }