.user-control {
    position: relative;
    height: 40px;
    background: #F1F1F1;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAoCAIAAAAzED4bAAAAWUlEQVRYhe3RsREAIAzDQODYf9dMEBZIowoX+gl88q6qled29+8Ng/N7wMxahLUIaxHWIkJrhc7yRMJahLUIaxGhszyRsBZhLcJahLWI0FmeSFiLsBYRWusBdmpCDmS387MAAAAASUVORK5CYII=);
    background-size: 100% 100%;
    border-bottom: 1px solid #C2C2C2;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    -webkit-box-shadow: inset 0 1px 0 #F9F9F9, 0 0 3px #DDD;
    -moz-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #dddddd;
    box-shadow: inset 0 1px 0 #F9F9F9, 0 0 3px #DDD;
}
.ausa-contentMainInner .user-control h5 {
    padding-left: 10px;
    padding-top: 11px;
    margin: 0;
    font-size: 12px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.widget-control {
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: #C9C9C9 1px solid;
}
.widget-control .btn {
    border: none !important;
    -webkit-border-radius: 0px 3px 0px 0px;
    -moz-border-radius: 0px 3px 0px 0px;
    border-radius: 0px 3px 0px 0px;
    line-height: 32px;
    min-height: 32px;
    outline: none !important;
}
.widget-control .caret {
    margin-top: 13px !important;
}
.widget-control .dropdown-menu {
    min-width: 185px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9F9F9), color-stop(100%, white));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff', GradientType=0 );
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 0px solid rgba(0, 0, 0, 0.2);
    border-top: 0px;
}
noindex:-o-prefocus, .icon-cog {
  margin-top: 8px;
}