.ausa-header {
    height: 40px;
}
#ausa-stickyBarWrap {
    height: 65px;
}
#ausa-stickyBarWrap.no-js {
    height: 30px;
}
#ausa-stickyBar {
    width: 100%;
    position: relative;
    float: left;
    height: 40px;
}
#ausa-stickyBarInner{
    max-width: 1125px;
    margin-left: auto;
    margin-right: auto;
}
.ausa-stickyBarVisible {
    position: fixed;
    opacity: 0.95;
    top: 40px;
    right: 0px;
    z-index: 999;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAoCAIAAAAzED4bAAAAWUlEQVRYhe3RsREAIAzDQODYf9dMEBZIowoX+gl88q6qled29+8Ng/N7wMxahLUIaxHWIkJrhc7yRMJahLUIaxGhszyRsBZhLcJahLWI0FmeSFiLsBYRWusBdmpCDmS387MAAAAASUVORK5CYII=);
    background-position: 100% 100%;
    background-color: #F1F1F1;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: rgba(0, 0, 0, 0.246094) 0px 2px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.246094) 0px 2px 3px;
    box-shadow: rgba(0, 0, 0, 0.246094) 0px 2px 3px;
}