.marker-holder {
    position: relative;
    left: 0px;
    width: 10px;
    height: 10px;
}
.marker-content {
    width: 280px;
    position: absolute;
    bottom: 0px;
    background: white;
    border: 4px solid white;
    border-image: initial;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 3px -1px, rgba(0, 0, 0, 0.247059) 0px 0px 0px 1px inset;
}
.marker-content img {
    float: right;
    padding: 1px;
}
.map-item-info { padding: 15px; }
.with-image .map-item-info { width: 130px; }
.map-item-info .title {
    color: #333;
    font-size: 12px;
    font-weight: bold;
}
.map-item-info .address {
    border-bottom: 1px dotted #CCC;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.marker-content .arrow {
    background: url('map-pin-description.png') no-repeat;
    bottom: -21px;
    left: 28px;
    height: 22px;
    position: absolute;
    width: 37px;
}
.marker-content .infobox-close {
    cursor: pointer;
    background: url('pop_up-close.png') 50% 50% no-repeat white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 1px;
    height: 10px;
    margin: auto;
    padding: 4px;
    position: absolute;
    right: -9px;
    top: -9px;
    width: 10px;
    z-index: 1000;
}
.cluster {
    color: #333;
    font-family: 'Droid Sans';
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.cluster-1 {
    background-image: url('cluster-m1.png');
    width: 90px;
    height: 80px;
    line-height: 79px;
}
.cluster-2 {
    background-image: url('cluster-m2.png');
    width: 90px;
    height: 80px;
    line-height: 79px;
}
.cluster-3 {
    background-image: url('cluster-m3.png');
    width: 90px;
    height: 80px;
    line-height: 79px;
}