.ausa-contentMain.multiCol {
    width: 585px;
    float: left;
}
.center {
    float: none !important;
}
.ausa-contentMain.singleCol {
    margin-bottom: 0;
}
.ausa-contentMain.multiCol {
    background: transparent url(ausa-boxBgShadow.png) no-repeat top center;
    margin-bottom: 40px;
}
.ausa-contentMain.singleCol {
    background: transparent url(ausa-boxBgShadowBig.png) no-repeat top center;
}
.multiCol .ausa-contentMainInner {
    width: 540px;
}