.notification {
    padding: 16px 10px 10px 90px;
    font-size: 1em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 20px 8px;
    color: #555;
    font-weight: bold;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border: 1px #555 solid;
    margin: 20px 20px 10px 20px;
}
.successfull {
    background-color: #CEC;
    background-image: url('success.png');
    color: #060;
    text-shadow: 1px 1px 1px white;
}
.info {
    background-color: #FFFFD7;
    background-image: url('info.png');
    text-shadow: 1px 1px 1px white;
    color: #555;
}
.errors {
    background-color: #F7E1DF;
    background-image: url('cross.png');
    color: #B81010;
    text-shadow: 1px 1px 1px #FCF4F3;
}
.closable {
    position: relative;
}
.closable .closelink {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 16px;
    height: 16px;
    background: url('close.png') no-repeat 0 0;
    cursor: pointer;
    opacity: 0.3;
}
.closelink:hover {
    opacity: 1;
}