.ausa-body {
	background-color: #B7D6A8;
	background-image: none;
}
.ausa-header .navbar-fixed-top div.navbar-inner {
	background-image: url(ausa-spriteMap.png) !important;
}
.ausa-header .navbar-inverse .brand,
.ausa-header .navbar-inverse .nav > li > a {
	color: #F0F0F0;
}
.ausa-header .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #F0F0F0;
	border-bottom-color: #F0F0F0;
}
.ausa-header .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.ausa-header .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.ausa-header .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background-color: #447936;
}
.ausa-header .navbar-inverse .divider-vertical {
	border-right-color: #1D3600;
	border-left-color: #669606;
}
.ausa-headerShadow {
	background: transparent url(ausa-headerBackground.png) top center repeat-x;
}
.ausa-contentMainInner .ausa-salesTeamDashboard .dashboardHighlight::before {
    background: none;
}
.ausa-contentAboveFooter{
	height: 278px;
	margin-top: -421px;
	background: url(ausa-cloudBackground.png) 0 0 repeat-x;
}
.ausa-contentFooter {
	background: url(ausa-footerBackground.png) 90% 0 repeat-x;
	height: 143px;
	margin-top: 0px;
}