* { margin: 0; }
html, body { height: 100%; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; }
html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; overflow-x: hidden; }
:focus { outline:none !important; outline-color:transparent !important; }
::-moz-focus-inner { border:0; }
ul { list-style-type: none; }
.page-home { line-height: 20px; color: #222; background: #d8d8d8; }
.base { height: 100%; min-width: 320px; }
.page { position: relative; min-height: 100%; }
.page-home .page { min-height: 600px; }
.page-home .ausa-header { height: 40px; font: 13px "Droid Sans", "Helvetica Neue", Helvetica, sans-serif; }
.page-home > .container div .notification {
    margin-right: 40px;
}
.page-home > .container {
    position: relative;
    background: #fff url('corpBg.png') repeat-y;
    border: 1px solid #D9D9D9;
    border-bottom: 0px;
    border-top: 0px;
    z-index: 2;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 0px;
}
.fill { height: 100%; min-height: 100%; background-attachment: fixed; }
.corp-content { margin-top: 70px; background: #fff url('corpBg.png') repeat-y; }
.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width: 270px;
}
@media (min-width: 980px) and (max-width: 1199px) {
    .page-home > .container { background: #fff url('corpBg.png') -50px 0 repeat-y; }
    .corp-content { margin-top: 70px; background: white url('corpBg.png') -50px 0 repeat-y; }
    .sidebar-nav-fixed {
        position:fixed;
        top:60px;
        width: 220px;
    }
}
@media (max-width: 979px) and (min-width: 768px) {
    .ausa-userSignin input.span3 { width: 220px; }
}
@media (max-width: 979px) {
    .ausa-userSignin { min-width: 234px; }
    .page-home > .container { background: #fff url('corpBg.png') -104px 0 repeat-y; }
    .corp-content { margin-top: 70px; background: white url('corpBg.png') -104px 0 repeat-y; }
    .sidebar-nav-fixed {
        width: 166px;
    }
}
@media (min-width: 767px) {
    .icon-chevron-right { display: none; }
    ul.corpSidebar {
        border-top: 1px solid #E8E9EB;
        list-style: none;
        margin: 20px 0;
    }
    ul.corpSidebar li {
        background-color: #F7F7F9;
        border-right: 1px solid #E8E9EB;
        border-bottom: 1px solid #E8E9EB;
    }
    ul.corpSidebar li:hover { background-color: #EEE; }
    ul.corpSidebar li.active {
        background: white;
        border-right: 1px solid white;
    }
    ul.corpSidebar li a {
        display: block;
        line-height: 40px;
        text-indent: 20px;
    }
    ul.corpSidebar li a:hover { text-decoration: none; }
}
@media (max-width: 767px) {
    .icon-chevron-right {
        float: right;
        margin-top: 2px;
        margin-right: -6px;
        opacity: .25;
    }
    a:hover .icon-chevron-right {
        opacity: .5;
    }
    .icon-white, a:hover .icon-white { opacity: 1; }
    .page-home > .container div h2 { padding-left: 30px !important; }
    .page-home > .container div .sub-title { padding-left: 40px !important; }
    .page-home > .container div .title-this-page { margin: 0; padding-left: 40px !important; }
    .page-home > .container div .par { padding-left: 40px !important; }
    .page-home > .container { background: #fff; }
    .corp-content { background: #fff; }
    .sidebar-nav-fixed {
        width: auto;
        position:static;
        padding: 0px 20px;
    }
    ul.corpSidebar {
        margin: 0px 0px 30px 0px;
        padding: 0;
        background-color: white;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    }
    ul.corpSidebar li a {
        display: block;
        width: 190px 9;
        margin: 0 0 -1px;
        padding: 8px 14px;
        border: 1px solid #E5E5E5;
    }
    ul.corpSidebar li a:hover {
        text-decoration: none;
        background-color: whiteSmoke;
    }
    ul.corpSidebar li.active a, ul.corpSidebar ul.active a:hover {
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        background-color: #08C;
    }
    ul.corpSidebar li:first-child > a {
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
    }
    ul.corpSidebar li:last-child > a {
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
    }
}
.page-home > .container div h2 {
    font-size: 30px;
    line-height: 120%;
    margin: 0 0 20px;
}
.page-home > .container div h3 {
    font-size: 21px;
}
.page-home > .container div .par {
    padding: 10px 40px 10px 10px;
    text-align: justify;
    padding-left: 12px;
    font-family: "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
    font-size: 12px;
}
#home-bg {
    width: 100%;
    height: 440px;
    position: absolute;
    top: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #7e4e1c;
    border-bottom: solid 1px #ffffff;
    background: -moz-linear-gradient(45deg, #7e4e1c 0%, #b98d51 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#7e4e1c), color-stop(100%,#b98d51));
    background: -webkit-linear-gradient(45deg, #7e4e1c 0%,#b98d51 100%);
    background: -o-linear-gradient(45deg, #7e4e1c 0%,#b98d51 100%);
    background: -ms-linear-gradient(45deg, #7e4e1c 0%,#b98d51 100%);
    background: linear-gradient(45deg, #7e4e1c 0%,#b98d51 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e4e1c', endColorstr='#b98d51',GradientType=1 );
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}
#home-bg::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(wide-opt-2.jpg) 50% 50% no-repeat;
    opacity: 0.85;
}
#slideshow {
    position: absolute;
    left: 110px;
    top: 78px;
    width: 131px;
    height: 321px;
    background-size: 131px 321px;
    z-index: 1;
    display: none;
}
#slideshow img {
    position: absolute;
    height: 321px !important;
    width: 131px !important;
    z-index: 2;
}
#slideshow img.active { z-index: 4; }
#slideshow img.last-active { z-index: 3; }
.wrap { width: 860px; margin: 0 auto; }
.phone {
    padding-top: 70px;
    width: 250px;
    float: left;
    position: relative;
}
.content {
    float: left;
    margin-left: 10px;
    position: relative;
    width: 470px;
    margin-top: 30px;
}
.content h1.title {
    position: absolute;
    margin: 0;
    top: 134px;
    left: 110px;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    text-shadow: 0 -2px 5px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
.content img.img-title{
    position: absolute;
    top: 25px;
    left: 25px;
}
.content .tab {
    margin-top: 155px;
    height: 380px;
    padding: 30px 7% 0 7%;
    width: 86%;
    background: url(contentBg.png) 0 0 no-repeat;
}
.content p {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 15px;
    color: #828384;
    margin: 0 0 1em 0;
    line-height: 20px;
    text-align: justify;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}
.content p span {
    color: #515256;
    font-size: 17px;
    letter-spacing: 1px;
}
.content p span.for {
    font-size: 16px;
    font-style: italic;
}
.mobios-badge-container { margin-top: 25px; text-align: center; }
.mobios-badge-container a.second { margin-left: 15px; }
.foot {
    clear: both;
    position: relative;
    width: 100%;
    min-width: 600px;
    text-align: center;
    font-size: 11px;
}
ul.footer {
    list-style: none;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}
ul.footer li { display: inline; }