.widget-bottom {
    height: 40px;
    background: #F1F1F1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F1F1), color-stop(100%, #DBDBDB));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 );
    border-top: 1px solid #C2C2C2;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: inset 0 1px 0 #F9F9F9, 0 0 3px #DDD;
    -moz-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ddd;
    box-shadow: inset 0 1px 0 #F9F9F9, 0 0 3px #DDD;
}