.ausa-contentMainInner #vendor-mainDashboard {
    background-color: #33373A;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}
.ausa-contentMainInner .ausa-salesTeamDashboard .dashboardHighlight::before {
    background: none;
}
.ausa-contentMainInner .ausa-salesTeamDashboard .dashboardHighlight {
    border-top: none;
    padding: 20px 19px 20px 20px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
#f_slider {
	width:100%;
	overflow:hidden;
	position:relative;
}
.slider {
	width:100%;
	height:100%;
	margin:0 auto;
	position:relative;
}
.slider ul {
    margin: 0px;
}
.slider ul li {
	position:absolute;
	left:0;
	top:0;
	/*display:none;*/
	color:#363D47;
}
.slider ul li .rows {
	position:relative;
        height: 100%;
}
.slider h2, .slider h3, .slider h5 {
	color:#fff;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);		
	margin-bottom:0;	
	font-family:'Cabin Sketch';
	font-size:62px;
	line-height:62px;
	display:block;
	width:100%;
}
.slider h5 {
	font-size:55px;
	line-height:55px;
}
.slider h4 {
	font-size:42px;
	width:100%;
	color:#fff;
	text-shadow:0 1px 0 #fff;
	font-family:'MisoRegular';
	line-height:38px;
	margin-bottom:15px;
}
.slider  span.h_black {
	color:#2a2622;
	text-shadow:1px 1px #fff;
}
.half-size {
    width: 50%;
}
.content_big{
	font-size:22px;
	margin-bottom:25px;	
	display:block;
	line-height:22px;
	font-family:'MisoRegular';
}
.outside{
	position:absolute;
	z-index:0;
	left:0;
	top:0;
}
.line{
	width:100%;
	position:relative;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.slider .margin-right {
	margin-right:10px;
}