.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:inline-block; /* or inline-block */
    cursor:pointer !important;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    -khtml-border-radius:4px;
    position:relative;
    padding: 2px 15px 2px 15px;
    height:25px;
    /*border:1px solid #c5c5c5;*/
    text-align: center;
    min-width: 150px; /* so it is the same size as select from template button*/
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    background-color: #006dcc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);*/
}

.qq-upload-button-orig {
    display:inline-block; /* or inline-block */
    cursor:pointer !important;
    font-weight:bold;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    -khtml-border-radius:4px;
    position:relative;
    padding: 2px 15px 2px 15px;
    background:#8db234 url("bg-green.png") top left repeat-x !important;
    height:25px;
    border:1px solid #459300;
    color: white;
    font-family: Verdana, sans-serif, Arial;
    text-align: center;
    min-width: 150px; /* so it is the same size as select from template button*/
}

.qq-upload-button .qq-button-title-1{
    padding-top: 5px;
    font-size: 12px;
}

.qq-button-title-2{
    font-size: 14px;
    line-height: 14px;
}

.qq-button-subtitle{
    font-size: 8px;
    line-height: 14px;
}

.qq-upload-button-hover {
    color: #ffffff;
    background-color: #0044cc;
}
/*.qq-upload-button-hover {background:#cfe374 url("bg-green-light.png") top left repeat-x !important;}*/
/*.qq-upload-button-focus {outline:1px dotted black;}*/

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#afc75d; text-align:center; 
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    -khtml-border-radius:6px;
    margin-bottom: 15px;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#8db234;}

.qq-result {
    width: 90%;
    height: 24px;
    overflow: hidden;
    padding: 3px;
}

.qq-upload-list {margin: 3px; padding:0; list-style:none;font-family: "Helvetica"}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:10px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

/* loading image */

.loading-overlay img {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

.loading-overlay {
    background:url("loading.gif") scroll transparent no-repeat 30% 50%;
}