div.widget-content.dashboard {
    padding-bottom: 5px;
}
ul.ausa-dashboard {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
ul.ausa-dashboard li {
    float: left;
    margin: 0px 15px 15px 0px;
    width: 100px;
    height: 100px;
    background: #EEE;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    -moz-box-shadow: inset 1px 1px 2px #ccc;
    -webkit-box-shadow: inset 1px 1px 2px #CCC;
    box-shadow: inset 1px 1px 2px #CCC;
}
ul.multi li {
    width: 88px;
    height: 88px;
}
ul.ausa-dashboard li.last { margin: 0; }
ul.ausa-dashboard li a {
    width: 98px;
    height: 98px;
    display: block;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center 10px;
    border: 1px solid white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
ul.multi li a {
    width: 86px;
    height: 86px;
}
ul.ausa-dashboard li a:hover {
    color: #08C;
    border-color: #08C;
    text-decoration: none;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
ul.ausa-dashboard li a.dashboard-add {
    background-image: url(add.png);
}
ul.ausa-dashboard li a.dashboard-branches {
    background-image: url(branches.png);
}
ul.ausa-dashboard li a.dashboard-offers {
    background-image: url(offers.png);
}
ul.ausa-dashboard li a.dashboard-banners {
    background-image: url(banners.png);
}
ul.ausa-dashboard li a.dashboard-mobile {
    background-image: url(coupons.png);
}

ul.ausa-dashboard li a.dashboard-offers-add {
    background-image: url(offers-add.png);
}
ul.ausa-dashboard li a.dashboard-graphs {
    background-image: url(graphs.png);
}
ul.ausa-dashboard li a.dashboard-help {
    background-image: url(help.png);
}
ul.ausa-dashboard li a.dashboard-home {
    background-image: url(home.png);
}
ul.ausa-dashboard li a.dashboard-members {
    background-image: url(members.png);
}
ul.ausa-dashboard li a.dashboard-salesteams {
    background-image: url(salesteams.png);
}
ul.ausa-dashboard li a.dashboard-settings {
    background-image: url(settings.png);
}
ul.ausa-dashboard li a.dashboard-vendors {
    background-image: url(vendors.png);
}
ul.ausa-dashboard li a span {
    text-align: center;
    display: block;
    padding-top: 60px;
    text-transform: uppercase;
    line-height: 15px;
}